@import 'variables.scss';

.c-button{
    padding: 6px;

    border-radius: 6px;
    border-color: $color-blue;

    color: $color-blue;
    background-color: $color-white;

    &:hover{
        cursor: pointer;

        color: $color-white;
        border-color: $color-blue;
        background-color: $color-blue; 
    }
}