@import 'variables.scss';

.c-login {
  height: 100vh;
  display: flex;

  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;

    background-color: $color-blue;
  }

  &__about-logo {
    margin-bottom: $space-l;

    color: $color-white;

    font-size: $space-big;
  }

  &__about-moto {
    text-align: center;
    font-size: $fs-large;
    color: $color-white;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 65%;

    margin-top: $space;
    margin-bottom: $space;
  }

  &__register-info {
    margin-top: $space;
  }

  &__error-message {
    color: red;

    margin-top: $space;
  }
}
