@import 'variables.scss';

.c-book-details {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  margin-top: $space-xl;

  &__image-holder {
    display: flex;
    justify-content: center;

    width: 30%;
    height: 75vh;

    object-fit: contain;
  }

  &__image {
    width: 100%;
  }

  &__about {
    width: 30%;
  }

  &__author {
    margin-top: $space-s;

    font-size: $fs-large;
  }

  &__description {
    margin-top: $space-s;
  }

  &__copies {
    margin-top: $space-s;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;

    margin-top: $space-s;
  }
}
