@import 'variables.scss';

.c-users {
  display: flex;
  flex-direction: column;

  &__table-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: $space;

    font-weight: bold;
    font-size: $fs-large;
    text-align: center;

    color: $color-blue;
  }
}
