@import 'variables.scss';

.c-rentals-overview-item {
  width: 100%;

  &__info-container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: $space-xs 0;

    &-admin {
      grid-template-columns: repeat(7, 1fr);
    }

    &-user {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__input {
    &:focus {
      outline: none;
    }
  }

  &__bottom-line {
    height: 1px;
    background-color: $color-black;
  }
}
