@import 'variables.scss';

.c-rentals-overview-item {
  width: 100%;

  &__info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  &__bottom-line {
    height: 1px;
    background-color: $color-black;
    border: none;
  }
}
