@import 'variables.scss';

.c-rented-book-card {
  display: flex;
  flex-direction: column;

  margin-right: $space-l;
  margin-bottom: $space-l;
  padding: $space-l;

  border-radius: 8px;

  background-color: $color-blue;

  &--secondary {
    background-color: gray;
  }
}
