@import '../variables.scss';

.c-newComponent {
  &__button {
    padding: $space-l $space-xl;
    margin: $space-l;

    background: $color-blue;
    color: $color-white;

    font-size: $fs-base;
    border: 1px solid $color-blue;
    cursor: pointer;

    &:hover {
      background: $color-white;
      color: $color-blue;
    }

    &--toGreen {
        color: $color-green;
        &:hover {
            background: $color-green;
            color: $color-white;      
        }
    }

    &--toRed {
        color: $color-red;
        &:hover {
            background: $color-red;
            color: $color-white;
      }
    }
  }
}
