@import 'variables.scss';

.c-book-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  margin-top: $space-xl;
  margin-bottom: $space-xl;

  &__image-holder {
    display: flex;
    justify-content: center;

    width: 30%;
    height: 50vh;

    object-fit: contain;
  }

  &__image {
    object-fit: contain;

    width: 100%;
  }

  &__about {
    width: 30%;
  }

  &__author {
    margin-top: $space-s;

    font-size: $fs-large;
    color: $color-grey;
  }

  &__description {
    margin-top: $space-s;

    color: $color-grey;
  }

  &__copies {
    margin-top: $space-s;

    color: $color-grey;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;

    margin-top: $space-s;
  }

  &__days {
    display: flex;
    flex-direction: column;

    margin-top: $space-s;

    color: $color-grey;
  }

  &__days-explained {
    margin-bottom: $space-s;
  }
}
