@import 'variables.scss';

.c-input {
  padding: $space-s;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    margin-bottom: $space-xs;
    font-size: $fs-large;
  }

  &__input-field {
    padding: $space-s;
    border-radius: $space-xs;
    border-color: $color-blue;
  }
}
