// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #007bd3;
$color-greyish: #f5f5f5;
$color-grey: gray;
$color-gray: #808080;
$color-red: #d9534f;

// Font sizes
$fs-xsmall: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-medium: 18px;
$fs-large: 20px;
$fs-xlarge: 24px;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space: 1rem; // 16px
$space-l: 1.25rem; // 20px
$space-xl: 1.5rem; // 24px
$space-big: 6rem; // 96px

// Sizes
$size-l: 25rem;
$size-m: 18rem;
$size-s: 12rem;
