// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #007bd3;
$color-green: rgb(115, 233, 104);
$color-red: rgb(225, 73, 73);

// Font sizes
$fs-xsmall: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-medium: 18px;
$fs-large: 20px;
$fs-xlarge: 24px;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space: 1rem; // 16px
$space-l: 1.25rem; // 20px
$space-xl: 1.5rem; // 24px
